
.message {
  margin: 30px;
  width: 500px;
}

.message:hover :global(.ui.basic.label).toolbarBtnHidden {
  visibility: visible;
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

:global(.ui.basic.label).toolbarBtnHidden {
  transition:visibility 0.5s;
  visibility: hidden;
  border: none
}
