.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 12%;
  width: 12%;
  opacity: 0.8;
  border-radius: 10px;
}

.content {
  position: absolute;
  top: 70px;
  left: 340px;
  width: 900px;
  margin: auto;
}

.header {
  position: relative;
  height: 100px;
  width: 100%;
  font-family: Andale Mono, monospace ;
}


.users {
  font-size: 14px;
  text-justify: auto;
}

